<!doctype html>
<html>
<head>
<style>
	body {
        background-image: url("http://i.imgur.com/ZwE2WHV.jpg?1");
        color: yellow;
    } 
</style>
<title>Team Pick Scrambler</title>
</head>
<body> 
<h1><font size="20" face="impact" color="yellow">T H E S C R A M B L E R</font></h1>
<%= yield %>
</body>
</html>
